
.cardGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 50px 0px;
}

.cardGroup_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}


.card_button {
    display: flex;
    max-width: 269px;
    padding: 20px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 14px;
    background: var(--Dark, #191A23);
    color: #fff;
    border: none;
    cursor: pointer;
   
}

.card_button label {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

@media (max-width: 1200px) {
    .cardGroup_item {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .cardGroup_item {
        grid-template-columns: 1fr;
        padding-left: 20px;
    }

    .card_button {
        max-width: 100%;
    }
}