.carousel-container {
    max-width: 100%;
    padding: 84px 0px 68px 0px;
    align-items: center;
    border-radius: 45px;
    background: var(--Dark, #191A23);
    flex-direction: column;
    gap: 124px;
}

.carousel-content {
    display: flex;
    max-width: 606px;
    max-height: 237.952px;
}

.carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding: 16px;
}
.testimonial-quote {
    fill: #191A23;
    stroke-width: 1px;
    stroke: var(--Green, #B9FF66);
}

/* .testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.testimonial-author {
    margin-top: 24px;
}

.author-name {
    font-weight: 600;
    margin-bottom: 4px;
}

.author-position {
    color: #e0e0e0;
}

.carousel-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    gap: 8px;
}

.carousel-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.carousel-dots {
    display: flex;
    gap: 8px;
}

.carousel-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #4d5d6c;
    border: none;
    cursor: pointer;
    padding: 0;
}

.carousel-dot.active {
    background-color: white;
} */

@media (max-width: 768px) {
    .carousel-container {
        padding: 16px;
    }

    .testimonial-card {
        padding: 16px;
    }
}